MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
AUTH_USERNAME=admin
AUTH_PASSWORD=change-me
AUTH_TOKEN=replace-with-a-long-random-token
AUTH_USER_LABEL=Cassie
